@import './normalize.css';
@import './variables.css';
@import './header.css';
@import './main.css';

/* Подключение шрифтов */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,200&family=Orbitron:wght@400;600;700&display=swap');

body{
  background-color: white;
}

html{
  font-size: calc(100vw / 1440 * 10);
  font-family: 'Montserrat', sans-serif;
}