*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-container{
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
}

.flex-item{
  border: 1px solid black;
  background-color: rgb(255, 79, 79);
}